<main class="content">

  <h1> Electron Timer </h1>

  // add the progress bar display, attributes, and chime
  <div class="progress-wrapper" *ngIf="maxVal">

    <div class="text" *ngIf="!isFinished">
      {{ max - current | number: '1.1-1' }}
    </div>

    <div class="text" *ngIf="!isFinished">
      Ding!
      <audio src="assests/chime.mp3" autoplay></audio>
    </div>

    <round progress
      [max] = 'max'
      [current] = "current"
      [radius] = "100"
      [stroke] = "25">
    </round>
  
  </div>

  // add form input and display the buttons
  <div class="controls-wrapper">

    <label>Seconds</label>
    <input class="input" placeholder="number of seconds" type="text"
      [(ngModel)] = "max"
      (keydown) = "reset()">

    <button *ngIf="currentVal <= 0" (click)="start()">Start</bbutton>
    <button *ngIf="!isFinished" (click)="finish()">Finish</bbutton>
    //reset button?

  </div>
  
</main>